<div class="home-cont">
    <div class="home-cont__header">
        <h1 class="home-cont__header__title">Budget App</h1>
    </div>

    <div class="home-cont__body">
        <%= link_to "Log In", new_user_session_path, class: "login" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "signup" %>
    </div>
</div>